@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}
.main__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.title{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 327px;
    align-items: center;
}
.title h3{
    font-family: "EncodeSans-SemiBold";
    font-size: 16px;
}
.Myproducts{
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    gap: 18px;
}
.Myproducts h5{
    font-family: "EncodeSans-SemiBold";
    font-size: 14px;
}
.Myproducts p{
    font-family: "EncodeSans-Regular";
    font-size: 10px;
    color: #A4AAAD;
}
.product1, .product2, .product3{
    display: flex;
    width: 327px;
    height: 70px;
}
.product1{
    /* border: 2px solid red; */
    position: relative;
    align-items: start;
    justify-content: space-between;
    width: 327px;
    height: 70px;
}
.seleccion{
   display: flex;
   position: relative;
   margin-top: 40px; 
}
.product1 +hr{
    margin-top: 10px;
    box-shadow: 0 1px 2px var(--color-3);
    height: 1px;
    border-style: none;
}
.product2{
    /* border: 2px solid red; */
    position: relative;
    align-items: start;
    justify-content: space-between;
    width: 327px;
    height: 70px;
}
.product2 +hr{
    margin-top: 10px;
    box-shadow: 0 1px 2px var(--color-3);
    height: 1px;
    border-style: none;
}
.product3{
    /* border: 2px solid red; */
    position: relative;
    align-items: start;
    justify-content: space-between;
    width: 327px;
    height: 70px;
}

.edita{
    position: absolute;
    top: 6px;
    right: 4px;

}
.Myproducts button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.bought{
    width: 85px;
    height: 28px;
    border: black;
    border-radius: 8px;
    background: #1B2028;
    color: #fff;
    font-family: "EncodeSans-SemiBold";
    font-size: 14px;
    justify-content: center;
}
.information{
    width: 327px;
    height: 70px;
}
.information h5{
    margin-top: 10px;
    font-family: "EncodeSans-SemiBold";
    font-size: 14px;
}
.information p{
    margin-right: 90px;
}
.information button{
    margin-top: 5px;
    display: flex;
    width: 327px;
    height: 62px;
    justify-content: space-around;
    align-items: center;
}
.infobought{
    display: flex;
    flex-direction: column;
}
.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 327px;
    height: 35px;
}
.info h6{
    font-family: "EncodeSans-Regular";
    font-size: 14px;
}
.info p{
    margin-right: 5px;
}
.info +hr{
    margin-top: 10px;
    box-shadow: 0 1px 2px var(--color-3);
    height: 1px;
    border-style: none;
}





.footer {
    width: 100%;
    position: fixed;
    bottom: 10px;
    padding: var(--space-layout-padding-lr);

}


.footer button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    color: var(--color-5);
    background: var(--color-4);
    height: 50px;
    border-radius: 40px;
    flex-direction: row;
    align-items: center;
}