<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
</head>
<body>
    <main>
        <section class="main__section">
            <article class="encabezado">
                <div class="title">
                    <a href="./detail.html">
                        <img src="/storage/img/backcheck.svg">
                    </a>
                    <h3>Checkout</h3>
                    <img src="/storage/img/menudespliegue.svg" >
                </div>
            </article>
            <article class="Myproducts">
                <div class="product1">
                    <div class="im1"><img src="/storage/img/chekoutima1.svg"></div>
                    <div class="foto">
                        <h5><strong>Modern light clothes</strong></h5>
                        <p>Dress modern</p>
                        <h5 class="valor"><strong>$212.22</strong></h5>
                    </div>
                    <div class="puntos">
                        <div class="edit">
                            <img class="edita" src="/storage/img/3puntos.svg">
                        </div>
                        <div class="seleccion">
                            <button class="bought"><img src="/storage/img/checkout minus.svg"> 4 <img src="/storage/img/chekout plus.svg"></button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="product2">
                    <div class="im2"><img src="/storage/img/checkout ima2.svg"></div>
                    <div class="foto">
                        <h5><strong>Modern light clothes</strong></h5>
                        <p>Dress modern</p>
                        <h5 class="valor"><strong>$212.22</strong></h5>
                    </div>
                    <div class="puntos">
                        <div class="edit">
                            <img class="edita" src="/storage/img/3puntos.svg">
                        </div>
                        <div class="seleccion">
                            <button class="bought"><img src="/storage/img/checkout minus.svg"> 4 <img src="/storage/img/chekout plus.svg"></button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="product3">
                    <div class="im3"><img src="/storage/img/chekout ima3.svg"></div>
                    <div class="foto">
                        <h5><strong>Modern light clothes</strong></h5>
                        <p>Dress modern</p>
                        <h5 class="valor"><strong>$212.22</strong></h5>
                    </div>
                    <div class="sumres">
                        <div class="edit">
                            <img class="edita" src="/storage/img/3puntos.svg">
                        </div>
                        <div class="seleccion">
                            <button class="bought"><img src="/storage/img/checkout minus.svg"> 4 <img src="/storage/img/chekout plus.svg"></button>
                        </div>
                    </div>
                </div>
            </article>
            <article class="information">
                <div>
                    <h5>Shipping Information</h5>
                    <button><img src="/storage/img/targetaVisa.svg"> <p>**** **** **** 2143 </p><img src="/storage/img/flechadespliegue.svg"></button>
                </div>
                <div class="infobought">
                    <div class="info">
                        <h6>Total (9 items)</h6>
                        <p><strong>$131.97</strong></p>
                    </div>
                    <div class="info">
                        <h6>Shipping Fee</h6>
                        <p><strong>$131.97</strong></p>
                    </div>
                    <hr>
                    <div class="info">
                        <h6>Sub Total</h6>
                        <p><strong>$131.97</strong></p>
                    </div>
                </div>
            </article>
        </section>

    </main>
    <footer class="footer">
                <button href="#">Pay</button>
    </footer>
</body>
</html>