
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <div>
                <img src="../storage/img/backcheck.svg">
            </div>
            <div>Checkout</div>
            <div>
                <img src="../storage/img/menudespliegue.svg">
            </div>
        </nav>
    </header>
    <main class="main">
        <section class="checkout__details">
            <arcticle class="details__product">
                <div class="product__imagen">
                    <img src="../storage/img/chekoutima1.svg">
                </div>
                <div class="product__description">
                    <h3><strong>Modern light clothes</strong></h3>
                    <small>Dress modern</small>
                    <span>$212.22</span>
                </div>
                <div class="product__custom">
                    <img src="/storage/img/3puntos.svg">
                    <div class="product__select">
                        <img src="/storage/img/checkout minus.svg">
                        <span>4</span>
                        <img src="/storage/img/chekout plus.svg">
                    </div>
                </div>
            </arcticle>
            <arcticle class="details__product">
                <div class="product__imagen">
                    <img src="/storage/img/checkout ima2.svg">
                </div>
                <div class="product__description">
                    <h3><strong>Modern light clothes</strong></h3>
                    <small>Dress modern</small>
                    <span>$212.22</span>
                </div>
                <div class="product__custom">
                    <img src="/storage/img/3puntos.svg">
                    <div class="product__select">
                        <img src="/storage/img/checkout minus.svg">
                        <span>4</span>
                        <img src="/storage/img/chekout plus.svg">
                    </div>
                </div>
            </arcticle>
            <arcticle class="details__product">
                <div class="product__imagen">
                    <img src="/storage/img/chekout ima3.svg">
                </div>
                <div class="product__description">
                    <h3><strong>Modern light clothes</strong></h3>
                    <small>Dress modern</small>
                    <span>$212.22</span>
                </div>
                <div class="product__custom">
                    <img src="/storage/img/3puntos.svg">
                    <div class="product__select">
                        <img src="/storage/img/checkout minus.svg">
                        <span>4</span>
                        <img src="/storage/img/chekout plus.svg">
                    </div>
                </div>
            </arcticle>
        </section>
    </main>
</body>
</html>
